<template>
    <div>
        <IssueList></IssueList>
    </div>
</template>

<script>
  import IssueList from '../components/IssueList'

  export default {
    name: 'List',
    components: {IssueList}
  }
</script>

<style scoped>

</style>
