<template>
    <IssueView :issue="getIssue"></IssueView>
</template>

<script>
  import IssueView from "../components/IssueView"
  import {mapGetters} from 'vuex'

  export default {
    name: 'View',
    components: {IssueView},
    computed: {
      ...mapGetters(['getIssue'])
    },
    mounted() {
      this.$store.dispatch('fetchIssue', {id: this.$route.params.id})
    }
  }
</script>

<style scoped>

</style>
