<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <router-link to="/list">
            <span class="navbar-brand mb-0 h1">{{this.getRepoName}}</span>
        </router-link>
    </nav>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: 'Header',
    computed: {
      ...mapGetters(['getRepoName'])
    }
  }
</script>

<style scoped>

</style>
