<template>
    <b-card>
        <b-media>
            <template v-slot:aside>
                <b-img :src="issue.user.avatar_url" v-if="issue.user" width="64" alt="placeholder"></b-img>
            </template>
            <h5 class="mt-0">{{`#${this.issue.number}`}} <small>{{this.issue.title}}</small></h5>
            <p>
                {{`작성일: ${this.issue.created_at}`}}, {{`작성자: ${this.issue.user.login}`}}
            </p>
            <p>
                {{`코멘트: ${this.issue.comments}`}}
            </p>
        </b-media>
        <b-media>
            <div style="max-width: 100%">
                <VueShowdown :markdown="this.issue.body"></VueShowdown>
            </div>
        </b-media>
    </b-card>
</template>

<script>

  export default {
    name: "IssueView",
    props: {
      issue: {
        type: Object,
        required: true
      }
    }
  }
</script>

<style scoped>
    .media-body {
        max-width: 100%;
    }
</style>
