<template>
    <div>
        <div v-for="(issue,index) in getIssueList" v-bind:key="issue.id">
            <router-link :to="`/view/${issue.number}`">
                <BCard>
                    <BCardTitle>{{`#${issue.number}`}}</BCardTitle>
                    <BCardSubTitle>{{issue.title}}</BCardSubTitle>
                    <BCardText>{{`작성일: ${issue.created_at}`}}, {{`작성자: ${issue.user.login}`}}</BCardText>
                </BCard>
            </router-link>
            <div v-if="(index+1) % 5 === 0">
                <a href="https://thingsflow.com/ko/home/" style="text-align: center">
                    <img src="https://placehold.it/500x100?text=ad" alt="">
                </a>
            </div>
        </div>
    </div>
</template>

<script>
  import debounce from '../util/debounce'
  import {mapActions, mapGetters} from 'vuex';

  export default {
    name: 'IssueList',
    methods: {
      ...mapActions(['fetchIssueList']),
      scroll() {
        window.addEventListener('scroll', debounce(() => {
          let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight
          if (bottomOfWindow) {
            this.fetchIssueList()
          }
        }, 500));
      }
    },
    computed: {
      ...mapGetters(['getIssueList'])
    },
    mounted() {
      this.scroll()
    },
  }
</script>

<style scoped>

</style>
