<template>
    <div id="app">
        <Header></Header>
        <router-view></router-view>
    </div>
</template>

<script>
  import Header from './components/Header'

  export default {
    name: 'app',
    components: {
      Header
    },
    created() {
      this.$store.dispatch('fetchIssueList')
    }
  }
</script>

<style lang="scss" scoped>
    // Bootstrap and its default variables
    @import '../node_modules/bootstrap/scss/bootstrap';
    // BootstrapVue and its default variables
    @import '../node_modules/bootstrap-vue/src/index.scss';

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        max-width: 500px;
        margin: 0 auto;
    }
</style>
